*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
body{
    background-image: url(./background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.next{
    border-radius: 9px;
    color: white;
    background-color: #72944D;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 15px;
    padding: 8px 32px;
}
.previous{
    border: none;
    color: #72944D;
    background-color: #F4F4F5;
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 15px;
}
.next:hover{
    background-color: #5E7A3D;
}
.previous:hover{
    background-color: #E6F0E6;
    color: #5E7A3D;
}
.done{
    background-color: #4D8894;
    border: none;
    border-radius: 9px;
    color: white;
    width: 100px;
    height: 50px;
}
.done:hover{
    background-color: #3A6C76;
}
h1{
    color: #BA4247;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    color: #5E7A3D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label{
    color: #6B7280;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}
.form{
    border-radius: 15px;
    background-color: aliceblue;
    max-width: 500px;
    display :none;
}
.form.active{
    display: block;
}
input[type="radio"]{
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}
input[type="radio"]:checked{
    border: #7FA461;
    box-shadow: inset 0 0 0 6px #7FA461;
    background-color: #ffffff; 
}
#step9{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    max-width: 900px;
    display: none;
}
#step9.active{
    display: grid;
}
.category {
    padding: 10px;
}
.category h3 {
    color: #6b8e23;
    margin-bottom: 15px;
}
.category label {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}